[submodule "13-17-project-realization"]
	path = labs/2/13-17-project-realization
	url = https://github.com/dimbata23/fmi-oop-teaching-practice-project
[submodule "13-17-project-realization1"]
	path = labs/1/fmi-oop-teaching-practice-project
	url = https://github.com/dimbata23/fmi-oop-teaching-practice-project
